html {
    font-family: Monaco, monospace;
    height: 100vh;
    background-color: #222222;
    background: repeating-linear-gradient(
            -55deg,
            #2b2b2b 0%,
            #2b2b2b 10%,
            #222222 0%,
            #222222 50%
        )
        0 / 15px 15px;
}

header > img {
    position: fixed;
    width: 100%;
    min-width: 600px;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

nav {
    position: relative;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    height: inherit;
    list-style: none;
    margin: 0;
    padding: 0 2em;
    align-items: center;
}
nav li {
    display: inline-block;
    padding: 0 10px;
}

nav li #search {
    height: 37px;
}
nav li:first-child {
    flex-grow: 1;
}
nav li:last-child {
}

body {
    margin: 0;
}

p {
    color: rgba(250, 250, 250, 0.8);
    font-size: 15px;
    padding: 0.5em;
}

a {
    color: rgba(0, 188, 212, 0.6);
    cursor: pointer;
}

a:hover {
    color: #00bcd4;
}

main {
    margin: 2em auto;
    height: 100vh;
}

#welcome-wrapper {
    /* height: 90vh; */
    overflow: hidden;
    font-size: 15px;
}

#welcome {
    display: flex;
    flex-flow: column;
    color: #00bcd4;
    padding: 10vh;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}

/* --------------LOGO */

#welcome-logo {
    color: #00bcd4;
    display: flex;
    justify-content: center;
    font-family: Monoton;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
}

#welcome-logo h1 {
    display: inline;
    margin: 10px;
}
#berlin {
    /* margin: auto; */
    letter-spacing: 1vw;
    font-size: 7em;
    font-family: Monoton;
}

#berlin-hang {
    font-size: 3em;
    transform: rotate(20deg);
    padding: 1.5em 0;
    letter-spacing: 0.2em;
}

#welcome #berlin {
}
#berlin:hover {
    color: rgb(255, 212, 42);
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
@-webkit-keyframes neon {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2196f3,
            0 0 30px #2196f3, 0 0 50px #2196f3, 0 0 60px #2196f3,
            0 0 80px #2196f3, 0 0 100px #2196f3;
    }
    100% {
        text-shadow: 0 0 0px #2196f3, 0 0 8px rgba(255, 212, 42, 0.5),
            0 0 10px rgb(255, 212, 42), 0 0 20px #2196f3, 0 0 25px #2196f3,
            0 0 30px #2196f3, 0 0 35px #2196f3, 0 0 40px #2196f3;
    }
}

#form {
    margin: 1em auto;
    padding: 2em;
}

.formErrors > p {
    font-size: 0.9em;
    color: rgba(250, 250, 250, 0.8);
    margin: 0;
    padding: 0.1em;
}

input {
    display: block;
    padding: 0.2em;
    margin: 0.5em auto;
    font-size: 1em;
    border-radius: 4px;
    background-color: rgba(250, 250, 250, 0.8);
}

textarea {
    font-size: 1em;
    width: 20em;
}
#PlacesAutocomplete__root > input {
    display: block;
    padding: 0.2em;
    margin: 0.5em auto;
    font-size: 1em;
    border-radius: 4px;
    background-color: rgba(250, 250, 250, 0.8);
}

::placeholder {
    color: #007888;
}
::placeholder:active {
    color: rgb(255, 212, 42);
}

button {
    display: block;
    /* width: 100px; */
    padding: 5px;
    margin: 5px auto;
}

/* ------------- LOGGED IN USER  */
#loggedin {
    position: relative;
    height: inherit;
}
.logo-image {
    position: relative;
    display: inline-block;
    font-size: 0.8em;
}
.logo-image h1 {
    margin: 0 1em;
}

#map {
    position: absolute;
    height: 800px;
    width: 100%;
}

p.error {
    color: rgb(255, 212, 42);
    font-style: italic;
}

#search input {
    width: 6em;
}

#search .btn-search {
    position: relative;
    top: -2.1em;
    right: -5.3em;
    width: 1em;
    padding: 2px;
    border-radius: 2px;
}

.userpic {
    /* position: absolute;
    padding: 30px; */
    /* right: 3em; */
    border-radius: 25%;
    border: 5px double rgba(0, 188, 212, 0.4);
    width: 4em;
    height: 4em;
    object-fit: cover;
    background-image: radial-gradient(
        circle,
        rgba(0, 188, 212, 0.4),
        rgba(0, 188, 212, 0.2),
        rgba(0, 255, 255, 0),
        rgba(0, 255, 255, 0)
    );
}
/* .userpic-wrapper {
    position: relative;
    margin: 2em;
} */

.userpic:hover {
    border: 5px double rgba(0, 188, 212, 0.8);
    cursor: pointer;
    /* box-shadow: 0 0 1em rgba(250, 250, 250, 0.5); */
}

#pic-uploader {
    text-align: center;
    background-color: rgba(43, 43, 43, 0.8);
    width: 7em;
    height: 4em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    border-radius: 25px;
}

#pic-uploader #close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
    color: rgba(250, 250, 250, 0.6);
}
#pic-uploader #close:hover {
    color: rgba(250, 250, 250, 0.8);
    cursor: pointer;
}

/* #pic-uploader input {
    margin: 5px;
    font-size: 15px;
    height: 20px;
} */
#pic-uploader input#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input#file + label {
    padding: 5px 10px;
    font-weight: 700;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    /* font-size: 1em; */
    /* display: inline-block; */
}

input#file:focus + label,
input#file + label:hover {
    cursor: pointer;
    color: #0049ab;
    box-shadow: 0 0 2px grey;
}

.btn {
    background-color: rgba(0, 188, 212, 0.6);
    border-radius: 1em;
    font-size: 1em;
    color: rgb(250, 250, 250);
}
.btn:hover {
    background-color: rgba(0, 188, 212, 0.8);
    cursor: pointer;
}

/* ------- PROFILE SECTION */

#profile-section {
    position: relative;
    margin: 0 2em;
    border-top: 5px double rgba(0, 188, 212, 0.4);
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

#profile-section h3 {
    color: rgb(250, 250, 250);
    margin-bottom: 0;
}

#profile-section .userpic:hover {
    border: 5px double rgba(0, 188, 212, 0.4);
}

/* lower part */
/* #profile-section  {
    position: relative;
    display: inline-block;
    text-align: center;
} */

/* #profile-section .btn-bio {
    display: inline-block;
    position: absolute;
    top: 35px;
    margin: 1em;
} */

#profile-section .userpic-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 3em;
    margin: auto;
}

#profile-section .userpic {
    width: 20em;
    height: 20em;
    border: none;
    border-radius: 25% 25% 0 25%;
    box-shadow: 0 0.2em 4em;
}

#profile-section .userpic:hover {
    border: none;
    cursor: default;
}

#profile-section p#bio-text {
    position: relative;
    text-align: center;
}

.btn-friends {
    position: relative;
    margin: auto;
}

:disabled {
    background: rgba(43, 43, 43, 0.8);
    cursor: default;
}
:disabled:hover {
    background: rgba(43, 43, 43, 0.8);
    cursor: default;
}

:focus {
    outline: none;
}

/* message board */

.wall {
    margin-top: 1em;
    margin-bottom: 1em;
}
.wall textarea {
    width: 75%;
}
#wall-section {
    text-align: center;
    margin: auto;
    width: 75%;
}
#wall-section .userpic-wrapper {
    padding: 0em;
    margin: 1em;
}
#wall-section .userpic {
    width: 4em;
    height: 4em;
}
#wall-section .msg {
    background-color: #2b2b2b;
    box-shadow: 0 0 10px;
}
button.btn-wall {
    display: inline;
    position: absolute;
    height: 34px;
    width: 3.5em;
    margin: 5px;
    border-radius: 2px;
}
/* FRIEND SECTION */

#friends-section,
#online-section,
#chat-section {
    position: relative;
    margin: 0 2em;
    border-top: 5px double rgba(0, 188, 212, 0.4);
    color: rgba(0, 188, 212, 0.8);
}

/* #friends-wrapper,
#wannabes-wrapper {
} */
/*
#friends,
#wannabes {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
} */

.friend {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    box-shadow: 0 0 2em #2b2b2b;
}

.friend:hover {
    box-shadow: 0 0 1em;
}

.friend .btn-friends {
    position: relative;
    margin: auto 0.2em;
}

.friend .btn-reject {
    background-color: rgba(0, 188, 212, 0.4);
}

.friend .btn-reject:hover {
    background-color: rgba(0, 188, 212, 0.7);
}

.friend .userpic-wrapper {
    position: relative;
    text-align: center;
    padding: 1em;
}

.friend .userpic {
    width: 8em;
    height: 8em;
    border: none;
    border-radius: 25%;
    box-shadow: 0 0 1em black;
}

.friend .userpic-wrapper:hover {
    border: none;
    cursor: default;
}

.friend p {
    font-style: italic;
    text-transform: uppercase;
}

/* CHAT ROOM */
#chat-wrapper {
    background: #2b2b2b;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

    height: 400px;
    overflow: auto;
}

.msg {
    display: flex;
    padding: 5px;
    border-radius: 25px;
    border-bottom: 2px solid #222222;
}
.msg-data p {
    display: inline;
    margin: 0;
}
.msg-data .time {
    font-size: 0.7em;
}
.msg-data p.text {
    display: block;
}

.msg .userpic-wrapper {
    position: relative;
    display: inline;
    padding: 0;
}

/* //GOOGLE MAPS STUFF */
.pic-marker .userpic-wrapper {
    position: absolute;
    padding: 0;
}

.pic-marker .userpic:hover {
    border: 5px solid rgba(0, 188, 212, 0.8);
}
