html {
    font-family: Monaco, monospace;
    height: 100vh;
    background-color: #222222;
    background: repeating-linear-gradient(
            -55deg,
            #2b2b2b 0%,
            #2b2b2b 10%,
            #222222 0%,
            #222222 50%
        )
        0 / 15px 15px;
}

header > img {
    position: fixed;
    top: -3%;
    width: 100%;
    min-width: 600px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

body {
    margin: 0;
}

p {
    color: rgba(250, 250, 250, 0.8);
    font-size: 15px;
    padding: 0.5em;
}

a {
    color: rgba(0, 188, 212, 0.6);
    cursor: pointer;
}

a:hover {
    color: #00bcd4;
}

main {
    margin: 2em auto;
    height: 100vh;
}

#welcome-wrapper {
    height: 90vh;
    overflow: hidden;
    font-size: 15px;
}

#welcome {
    display: flex;
    flex-flow: column;
    color: #00bcd4;
    padding: 10vh;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}

/* --------------LOGO */

#berlin {
    font-family: Monoton;
    color: #00bcd4;
    margin: auto;
    letter-spacing: 1vw;
    font-size: 7em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

#welcome #berlin {
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
}
#berlin:hover {
    color: rgb(255, 212, 42);
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
@-webkit-keyframes neon {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2196f3,
            0 0 30px #2196f3, 0 0 50px #2196f3, 0 0 60px #2196f3,
            0 0 80px #2196f3, 0 0 100px #2196f3;
    }
    100% {
        text-shadow: 0 0 5px #2196f3, 0 0 10px rgba(255, 212, 42, 0.5),
            0 0 10px rgb(255, 212, 42), 0 0 20px #2196f3, 0 0 30px #2196f3,
            0 0 40px #2196f3, 0 0 50px #2196f3, 0 0 60px #2196f3;
    }
}

#form {
    margin: 1em auto;
    padding: 2em;
}

.formErrors > p {
    font-size: 0.9em;
    color: rgba(250, 250, 250, 0.8);
    margin: 0;
    padding: 0.1em;
}

form > input {
    display: block;
    padding: 0.2em;
    margin: 0.5em auto;
    font-size: 1em;
    border-radius: 4px;
    background-color: rgba(250, 250, 250, 0.8);
}
::placeholder {
    color: #007888;
}
::placeholder:active {
    color: rgb(255, 212, 42);
}

form > button {
    display: block;
    width: 100px;
    padding: 5px;
    margin: 5px auto;
}

/* ------------- LOGGED IN USER  */
#loggedin {
    position: relative;
    height: inherit;
}
.logo-image {
    position: absolute;
    left: 3em;
    display: inline-block;
    font-size: 0.8em;
}
.logo-image h1 {
    margin: 0 1em;
}

/* ------------- WTF?  */
p.error {
    color: rgb(255, 212, 42);
    font-style: italic;
}

.userpic {
    /* position: absolute;
    padding: 30px; */
    /* right: 3em; */
    border-radius: 25%;
    border: 5px double rgba(0, 188, 212, 0.4);
    width: 5em;
    height: 5em;
    object-fit: cover;
    background-image: radial-gradient(
        circle,
        rgba(0, 188, 212, 0.4),
        rgba(0, 188, 212, 0.2),
        rgba(0, 255, 255, 0),
        rgba(0, 255, 255, 0)
    );
}
.userpic-wrapper {
    position: absolute;
    padding: 2em;
    right: 0;
}

.userpic:hover {
    border: 5px double rgba(255, 212, 42, 0.4);
    cursor: pointer;
    box-shadow: 0 0 1em rgba(250, 250, 250, 0.5);
}

#pic-uploader {
    text-align: center;
    background-color: rgba(43, 43, 43, 0.8);
    width: 114px;
    height: 75px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    position: absolute;
    top: 2em;
    right: 1em;
    border-radius: 25px;
}

/* #pic-uploader input {
    margin: 5px;
    font-size: 15px;
    height: 20px;
} */

#pic-uploader input#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input#file + label {
    padding: 5px 10px;
    font-weight: 700;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    /* font-size: 1em; */
    /* display: inline-block; */
}

input#file:focus + label,
input#file + label:hover {
    cursor: pointer;
    color: #0049ab;
    box-shadow: 0 0 2px grey;
}

.btn {
    background-color: rgba(0, 188, 212, 0.6);
    border-radius: 1em;
    font-size: 1em;
    color: rgb(250, 250, 250);
}
.btn:hover {
    background-color: #00bcd4;
    cursor: pointer;
}

/* ------- PROFILE SECTION */

#profile-section {
    position: relative;
    top: 9em;
    margin: 0 2em;
    border-top: 5px double rgba(0, 188, 212, 0.4);
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#profile-section .userpic:hover {
    border: 5px double rgba(0, 188, 212, 0.4);
}

/* lower part */
#profile-section form {
    position: relative;
    display: inline-block;
    text-align: center;
}

#profile-section form .btn-bio {
    display: inline-block;
    position: absolute;
    top: 35px;
    margin: 1em;
}

#profile-section .userpic-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 3em;
    margin: auto;
}

#profile-section .userpic {
    width: 20em;
    height: 20em;
    border: none;
    border-radius: 25% 25% 0 25%;
    box-shadow: 0 0.2em 4em;
}

#profile-section .userpic:hover {
    border: none;
    cursor: default;
}

#profile-section p#bio-text {
    position: relative;
    text-align: center;
}

.btn-friends {
    position: relative;
    margin: auto;
}

:disabled {
    background: rgba(43, 43, 43, 0.8);
    cursor: default;
}
:disabled:hover {
    background: rgba(43, 43, 43, 0.8);
    cursor: default;
}

:focus {
    outline: none;
}

/* FRIEND SECTION */

#friends-section {
    position: relative;
    top: 9em;
    margin: 0 2em;
    border-top: 5px double rgba(0, 188, 212, 0.4);
    color: rgba(0, 188, 212, 0.8);
}

/* #friends-wrapper,
#wannabes-wrapper {
} */
/*
#friends,
#wannabes {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
} */

.friend {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    box-shadow: 0 0 2em #2b2b2b;
}

.friend:hover {
    box-shadow: 0 0 1em;
}

.friend .btn-friends {
    position: relative;
    margin: auto 0.2em;
}

.friend .btn-reject {
    background-color: rgba(0, 188, 212, 0.4);
}

.friend .btn-reject:hover {
    background-color: rgba(0, 188, 212, 0.7);
}

.friend .userpic-wrapper {
    position: relative;
    text-align: center;
    padding: 1em;
}

.friend .userpic {
    width: 8em;
    height: 8em;
    border: none;
    border-radius: 25%;
    box-shadow: 0 0 1em black;
}

.friend .userpic-wrapper:hover {
    border: none;
    cursor: default;
}

.friend p {
    font-style: italic;
    text-transform: uppercase;
}
